{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div>
    
<header>

    <style>
      header{
        text-align: center;
      }
    </style>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://static.vecteezy.com/system/resources/previews/002/967/565/large_2x/abstract-geometric-hexagons-pattern-background-medical-science-free-vector.jpg');
        height:92.6vh;
        width:100%;
      ">
      <div class="mask d-flex justify-content-center align-items-center h-100 " style="background-color: rgba(0, 0, 0, 0.6); text-align: center;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">The Verge.com daily scraper</h1>
            <h5 class="mb-3">page yet to be published</h5>
          </div>
        </div>
      </div>
      <h5 class="mb-3 dev">Developed with ❤️ by <span>Srinivas</span></h5>
        </div>
    <!-- Background image -->
  </header>
</div>
  {%endblock%}
